.panel-1 {
    background-image: url('./front-page-1.jpg');
    background-size:cover;
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    color: black;

}

.panel-2 {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.panel-2 img {
    width: 50%;
}
.panel-2 div {
    width: 50%;
}